<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>

    <div class="wrapper">

      <!-- begin header image -->

      <div class="header-image">

        <img src="http://i.imgur.com/v0ATeGd.jpg" alt="berries" id="main-image"/>

        <!-- begin category name -->

        <div class="category-name">
          <h3 class="category-name-text">DRESSES</h3>
        </div>

        <!-- end categroy name -->

      </div>

      <!-- end header image -->

      <div class="container">

        <div class="row box-shadow-bottom">

          <!-- begin product image left -->

          <div class="col-5 left-hero">

            <img src="http://i.imgur.com/YJeQzXz.jpg" alt="" class="left-hero-image"/>

          </div>

          <!-- end product image left -->

          <!-- begin product info -->

          <div class="col-7 box-shadow-left right-hero">

            <!-- begin header info -->

            <div class="grey-bg">

              <h3 class="product-detail-name">Free People Mirana Printed Midi Dress</h3>
              <p class="product-model-number">1791373</p>
              <br>

              <!-- begin available colors -->

              <div class="row">

                <p class="col-2 available-in">AVAILABLE IN</p>
                <div class="col-5 available-color">
                  <div id="color-circle"></div>
                  <p class="available-color-text">BLACK</p>
                </div>

                <!-- end available colors -->

              </div>

            </div>


            <!-- end header info -->

            <!-- begin tabs -->

            <ul class="tab">
              <li><a href="javascript:void(0)" class="tablinks small-gallery-tab" onclick="openTab(event, 'features')" id="defaultOpen">FEATURES</a></li>
              <li><a href="javascript:void(0)" class="tablinks small-gallery-tab" onclick="openTab(event, 'imageGallery')">IMAGE GALLERY</a></li>
              <li><a href="javascript:void(0)" class="tablinks small-gallery-tab" onclick="openTab(event, 'specifications')">SPECIFICATIONS</a></li>
            </ul>

            <!-- begin tab content -->

            <div id="features" class="tabcontent">

              <div class="row">

                <div class="col-8">

                  <div id="feature1" class="featurecontent">

                    <!-- feature image -->
                    <div id="feature-image">
                      <img id="feature-pic" src="http://i.imgur.com/YJeQzXz.jpg" alt="" />
                    </div>

                    <!-- feature title/name -->
                    <h4 id="feature-name">Fit</h4>

                    <!-- feature description -->
                    <p id="feature-description">Fits true to size. Order your normal size.</p>

                  </div>

                </div>

                  <!-- begin additional features -->

                  <ul class="col-4 flex-container">

                    <li class="flex-item-features featurelinks" data-src="http://i.imgur.com/YJeQzXz.jpg" data-name="Fit" data-description="Fits true to size. Order your normal size." id="defaultOpenFeature">+ Fit</li>
                    <li class="flex-item-features featurelinks" data-src="http://i.imgur.com/yl8g8v8.png" data-name="Neckline" data-description="V-neck with tassel ties, long sleeves, and embroidered shoulder detail.">+ Neckline</li>
                    <li class="flex-item-features featurelinks" data-src="http://i.imgur.com/QL26Bzz.png" data-name="Closure" data-description="Button front closure, blouson top, A-line skirt.">+ Closure</li>
                    <li class="flex-item-features featurelinks" data-src="http://i.imgur.com/YJeQzXz.jpg" data-name="Length" data-description='Midi Length. Approx 49" from back of neck to hem, based on a size 4.'>+ Length</li>
                    <li class="flex-item-features featurelinks" data-src="http://i.imgur.com/dP0XgXf.png" data-name="Material" data-description="Self & lining: 100% rayon">+ Material</li>
                    <li class="flex-item-features featurelinks" data-src="http://i.imgur.com/DEANhsz.png" data-name="Care" data-description="Dry clean only">+ Care</li>

                  </ul>

                  <!-- end additional features -->

              </div>
            </div>

            <!-- end tab content -->

            <div id="imageGallery" class="tabcontent">

              <!-- begin tab content -->

              <!-- begin image slider -->

              <section class="">

                <div class="slideshow-container-sm">

                  <!-- begin slider images -->
                  <div class="mySlides fade">
                    <img src="http://i.imgur.com/YJeQzXz.jpg">
                  </div>

                  <div class="mySlides fade">
                    <img src="http://i.imgur.com/3pQZ5SO.jpg">
                  </div>

                  <div class="mySlides fade">
                    <img src="http://i.imgur.com/yl8g8v8.png">
                  </div>

                  <div class="mySlides fade">
                    <img src="http://i.imgur.com/QL26Bzz.png">
                  </div>

                  <!-- end slider images -->

                  <!-- begin slider navigation -->

                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>


                </div>

                <div style="text-align:center" style="margin-top: 1%;">
                  <span class="dot" onclick="currentSlide(1)"></span>
                  <span class="dot" onclick="currentSlide(2)"></span>
                  <span class="dot" onclick="currentSlide(3)"></span>
                  <span class="dot" onclick="currentSlide(4)"></span>
                </div>

                <!-- end slider navigation -->
              </section>

              <!-- end image slider -->

              <!-- end tab content -->

            </div>

            <div id="specifications" class="tabcontent">

              <ul class="flex-container-column">
                <li class="flex-item-spec">
                  <h4>Material</h4>
                  <p>100% Rayon</p>
                </li>

                <li class="flex-item-spec">
                  <h4>Lining</h4>
                  <p>100% Rayon</p>
                </li>

                <li class="flex-item-spec">
                  <h4>Country of Origin</h4>
                  <p>Imported</p>
                </li>

                <li class="flex-item-spec">
                  <h4>Fit Details</h4>
                  <p>Fits true to size</p>
                  <p>Approx. 49" from back of neck to hem</p>
                  <p>Length based on a size 4</p>
                </li>

                <li class="flex-item-spec">
                  <h4>Style Details</h4>
                  <p>V-neck with tassel ties</p>
                  <p>Long sleeves</p>
                  <p>Embroidered shoulder detail</p>
                  <p>Button front</p>
                  <p>Blouson top</p>
                  <p>A-line Skirt</p>
                  <p>Midi Length</p>
                  <p>All over floral pattern</p>
                  <p>Fully lined</p>
                </li>

                <li class="flex-item-spec">
                  <h4>Washing & Care</h4>
                  <p>Dry clean only</p>
                </li>

                <li class="flex-item-spec">
                  <h4>Shipping</h4>
                  <p>Domestic shipping only</p>
                  <p>Carriers: UPS & FedEx</p>
                  <p>In-stock merchandise shipped within 2 days</p>
                  <p>Backorders shipped when available</p>
                </li>

                <li class="flex-item-spec">
                  <h4>Returns & Exchanges</h4>
                  <p>Accepted within 90 days of purchase</p>
                  <p>Item must be in saleable condition</p>
                  <p>Receipt required for refund</p>
                  <p>Returns without reciept for store credit</p>
                  <p>Final sale items may not be returned</p>
                </li>

                </ul

            </div>

            <!-- end tabs -->

          </div>

          <!-- end product info -->

        </div>

      </div>

      <!-- begin nav bar -->

      <section class="nav-bar">

        <div class="menu">

          <ul>

            <!-- begin main nav items -->

            <a href="/pages/home" id="nav-home-icon"><img src="http://i.imgur.com/vnisOmg.png" alt="" id="nav-home-icon-image"/></a>

            <li>Explore Products

              <!-- begin pop up nav items -->

              <ul>

                <li><a href="/pages/category">DRESSES</a></li>
                <li><a href="/pages/category">T-SHIRTS & KNIT TOPS</a></li>
                <li><a href="/pages/category">BLOUSES</a></li>
                <li><a href="/pages/category">SWEATERS</a></li>
                <li><a href="/pages/category">SKIRTS</a></li>
                <li><a href="/pages/category">PANTS</a></li>
                <li><a href="/pages/category">SCARVES</a></li>
                <li><a href="/pages/category">SHOES</a></li>
                <li><a href="/pages/category">JEWELRY</a></li>
                <li><a href="/pages/category">HANDBAGS</a></li>

              </ul>

              <!-- end pop up nav items -->

            </li>

            <li class="nav-category-name">DRESSES</li>

            <li id="my-list-image">

              <div class="my-list-image">

                <img src="http://i.imgur.com/Faek38M.png" alt="My List" id="my-list-image"/>
                <p id="my-list-text">My List</p>

              </div>

            </li>

            <!-- end main nav items -->

          </ul>

        </div>

      </section>

      <!-- end nav bar -->

      <!-- begin modal -->

      <div class="my-list-modal">

        <div class="my-list-modal-content-full">

          <!-- begin modal header -->

          <div class="my-list-modal-header">

            <!-- my list icon and text -->
            <img src="http://i.imgur.com/Faek38M.png" alt="" />
            <p id="my-list-modal-header-text">My List</p>

            <!-- close button -->
            <div class="close-modal-button">
              <div class="line1"></div>
              <div class="line2"></div>
            </div>

          </div>

          <!-- begin main content -->

          <div class="my-list-modal-content">

            <h2>View Saved Products</h2>

            <!-- begin mylist items -->

            <ul class="flex-container-mylist">
              <li class="flex-item-mylist">
                <a href="/pages/product_detail">
                  <img src="http://i.imgur.com/zczx7Sk.jpg" alt="" />
                  <p>1783898</p>
                  <h4>Bella High/Low Dress</h4>
                </a>
              </li>
              <li class="flex-item-mylist">
                <a href="/pages/product_detail">
                  <img src="http://i.imgur.com/YJeQzXz.jpg" alt="" />
                  <p>1791373</p>
                  <h4>Miranda Printed Midi Dress</h4>
                </a>
              </li>
              <li class="flex-item-mylist">
                <a href="/pages/product_detail">
                  <img src="http://i.imgur.com/3HwZDrz.jpg" alt="" />
                  <p>1746599</p>
                  <h4>Oscar Cashmere Sweater Dress</h4>
                </a>
              </li>
              <li class="flex-item-mylist">
                <a href="/pages/product_detail">
                  <img src="http://i.imgur.com/iu4UYaz.jpg" alt="" />
                  <p>1803044</p>
                  <h4>Bianca Plaid Shirt Dress</h4>
                </a>
              </li>
              <li class="flex-item-mylist">
                <a href="/pages/product_detail">
                  <img src="http://i.imgur.com/IkYpqWX.jpg" alt="" />
                  <p>1792211</p>
                  <h4>Varenne Embroidered Silk Tunic Dress</h4>
                </a>
              </li>
            </ul>

            <!-- end mylist items -->

          </div>

          <!-- begin slider -->

          <div class="share-mylist">

            <h2 class="keyboard-slider">Share your List</h2>

            <div class="slider-div">

              <div class="row padding-div">

                <div class="col-3">

                  <div class="padding-div">

                    <h3 id="send-and-share">Send & Share</h3>
                    <h2 id="send-mylist">My List</h2>

                    <p id="send-text">Separate with a comma to add more recipients to your send list.</p>

                  </div>

                </div>

                <div class="col-6">

                  <div class="padding-div">

                    <div class="keyboard-bg">

                      <!-- begin keyboard and text area -->

                      <div id="container">

                        <!-- text area -->
                        <textarea id="write" rows="1"></textarea>

                        <!-- begin keyboard -->

                        <div class="keyboard-area">

                          <!-- first row -->
                          <ul class="flex-container-keyboard" id="keyboard">
                            <li class="symbol"><span class="off">q</span><span class="on">1</span></li>
                            <li class="symbol"><span class="off">w</span><span class="on">2</span></li>
                            <li class="symbol"><span class="off">e</span><span class="on">3</span></li>
                            <li class="symbol"><span class="off">r</span><span class="on">4</span></li>
                            <li class="symbol"><span class="off">t</span><span class="on">5</span></li>
                            <li class="symbol"><span class="off">y</span><span class="on">6</span></li>
                            <li class="symbol"><span class="off">u</span><span class="on">7</span></li>
                            <li class="symbol"><span class="off">i</span><span class="on">8</span></li>
                            <li class="symbol"><span class="off">o</span><span class="on">9</span></li>
                            <li class="symbol"><span class="off">p</span><span class="on">0</span></li>
                            <li class="delete special-bg" id="backspace"></li>
                          </ul>

                          <!-- second row -->
                          <ul class="flex-container-keyboard" id="keyboard">
                            <li class="symbol"><span class="off">a</span><span class="on">!</span></li>
                            <li class="symbol"><span class="off">s</span><span class="on">@</span></li>
                            <li class="symbol"><span class="off">d</span><span class="on">#</span></li>
                            <li class="symbol"><span class="off">f</span><span class="on">$</span></li>
                            <li class="symbol"><span class="off">g</span><span class="on">%</span></li>
                            <li class="symbol"><span class="off">h</span><span class="on">^</span></li>
                            <li class="symbol"><span class="off">j</span><span class="on">&</span></li>
                            <li class="symbol"><span class="off">k</span><span class="on">*</span></li>
                            <li class="symbol"><span class="off">l</span><span class="on">(</span></li>
                            <li class="symbol"><span class="off">/</span><span class="on">)</span></li>
                          </ul>

                          <!-- third row -->
                          <ul class="flex-container-keyboard" id="keyboard">
                            <li class="symbol"><span class="off">*</span><span class="on">-</span></li>
                            <li class="symbol"><span class="off">z</span><span class="on">_</span></li>
                            <li class="symbol"><span class="off">x</span><span class="on">+</span></li>
                            <li class="symbol"><span class="off">c</span><span class="on">=</span></li>
                            <li class="symbol"><span class="off">v</span><span class="on">:</span></li>
                            <li class="symbol"><span class="off">b</span><span class="on">;</span></li>
                            <li class="symbol"><span class="off">n</span><span class="on">|</span></li>
                            <li class="symbol"><span class="off">m</span><span class="on">\</span></li>
                            <li class="symbol"><span class="off">*</span><span class="on">?</span></li>
                          </ul>

                          <!-- fourth row -->
                          <ul class="flex-container-keyboard" id="keyboard">
                            <li class="symbol left-shift"><span class="off">123</span><span class="on">ABC</span></li>
                            <li class="letter">.</li>
                            <li class="space">&nbsp;</li>
                            <li class="letter">@</li>
                            <li class="letter"></li>
                          </ul>

                          <br style="clear: both">

                        </div>

                        <!-- end keyboard -->

                      </div>

                      <!-- end keyboard and textarea -->

                    </div>

                  </div>

                </div>

                <div class="col-3">

                  <div class="padding-div-buttons">

                    <div class="action-buttons">

                      <div class="send-button">Send</div>
                      <div class="cancel-button">Cancel</div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <!-- end slider -->

          <!-- end main content -->

          <!-- begin footer -->

          <div class="my-list-modal-footer">
            <h3>Do you want to start over?</h3>
            <div class="clear-list-button">
              Clear My List
            </div>
          </div>

          <!-- end footer -->

        </div>

      </div>

      <!-- end modal -->

    </div>

  </body>
</html>
