<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>

    <div class="wrapper">

      <!-- begin header image -->

      <div class="header-image">

        <img src="http://i.imgur.com/A8w3dP1.jpg" alt="berries" id="main-image"/>

        <!-- begin category name -->

        <div class="category-name">
          <h3 class="category-name-text">CASUAL DRESSES</h3>
        </div>

        <!-- end categroy name -->

      </div>

      <!-- end header image -->

      <div class="container">

        <div class="row box-shadow-bottom">

          <!-- begin sub-category image left -->

          <div class="col-5 left-hero">

            <img src="http://i.imgur.com/QsGfn3W.jpg" alt="" class="left-hero-image"/>

          </div>

          <!-- end sub-category image left -->

          <!-- begin product images -->

          <div class="col-7 right-sub-category box-shadow-left">

            <h2 class="sub-category-title">Select a Sub-Category</h2>

            <ul class="flex-container">

              <!-- begin products -->
              <li class="flex-item-sm">
                <a href="#"><img src="http://i.imgur.com/YJeQzXz.jpg" alt="" />
                <br>FREE PEOPLE
                <br>Miranda Printed Midi Dress
                <br>1791373
              </a>
              </li>
              <li class="flex-item-sm">
                <a href="#"><img src="http://i.imgur.com/QsGfn3W.jpg" alt="" />
                <br>HALSTON HERITAGE
                <br>High/Low Shirt Dress
                <br>1770814
              </a>
              </li>
              <li class="flex-item-sm">
                <a href="#"><img src="http://i.imgur.com/zczx7Sk.jpg" alt="" />
                <br>ELLA MOSS
                <br>Bella High/Low Dress
                <br>1783898
              </a>
              </li>
              <li class="flex-item-sm">
                <a href="#"><img src="http://i.imgur.com/ZZfkitd.jpg" alt="" />
                <br>JOIE
                <br>Alpina Printed Silk Dress
                <br>1773510
              </a>
              <li class="flex-item-sm">
                <a href="#"><img src="http://i.imgur.com/IkYpqWX.jpg" alt="" />
                <br>TORY BURCH
                <br>Varenne Embroidered Silk Tunic Dress
                <br>1792211
              </a>
              </li>
              </li>
              <li class="flex-item-sm">
                <a href="#"><img src="http://i.imgur.com/MDrWWKl.jpg" alt="" />
                <br>ALICE AND OLIVIA
                <br>Floral Print Dress
                <br>1732840
              </a>
              </li>
              <li class="flex-item-sm">
                <a href="#"><img src="http://i.imgur.com/3HwZDrz.jpg" alt="" />
                <br>EQUIPMENT
                <br>Oscar Cashmere Sweater Dress
                <br>1746599
              </a>
              </li>
              <li class="flex-item-sm">
                <a href="#"><img src="http://i.imgur.com/iu4UYaz.jpg" alt="" />
                <br>RAILS
                <br>Bianca Plaid Shirt Dress
                <br>1803044
              </a>
              </li>
              <li class="flex-item-sm">
                <a href="#"><img src="http://i.imgur.com/rWHV4ut.jpg" alt="" />
                <br>7 FOR ALL MANKIND
                <br>Zip Front Belted Denim Dress
                <br>1826848
              </a>
              </li>
              <li class="flex-item-sm">
                <a href="#"><img src="http://i.imgur.com/emDNT7k.jpg" alt="" />
                <br>FREE PEOPLE
                <br>Seasons In The Sun Dress
                <br>1696835
              </a>
              </li>

              <!-- end products -->

            </ul>

          </div>

          <!-- end product images -->

        </div>

      </div>

      <!-- begin nav bar -->

      <section class="nav-bar">

        <div class="menu">

          <ul>

            <!-- begin main nav items -->

            <a href="#" id="nav-home-icon"><img src="http://i.imgur.com/vnisOmg.png" alt="" id="nav-home-icon-image"/></a>

            <li>Explore Products

              <!-- begin pop up nav items -->

              <ul>

                <li><a href="#">REFRIGERATORS</a></li>
                <li><a href="#">RANGES</a></li>
                <li><a href="#">COOKTOPS</a></li>
                <li><a href="#">WALL OVENS</a></li>
                <li><a href="#">MICROWAVES</a></li>
                <li><a href="#">DISHWASHERS</a></li>
                <li><a href="#">WARMER DRAWERS</a></li>
                <li><a href="#">VENTILATION</a></li>
                <li><a href="#">WASHERS</a></li>
                <li><a href="#">DRYERS</a></li>

              </ul>

              <!-- end pop up nav items -->

            </li>

            <li class="nav-category-name">DRESSES | CASUAL DRESSES</li>

            <li id="my-list-image">

              <div class="my-list-image">

                <img src="http://i.imgur.com/Faek38M.png" alt="My List" id="my-list-image"/>
                <p id="my-list-text">My List</p>

              </div>

            </li>

            <!-- end main nav items -->

          </ul>

        </div>

      </section>

      <!-- end nav bar -->

      <!-- begin modal -->

      <div class="my-list-modal">

        <div class="my-list-modal-content-full">

          <!-- begin modal header -->

          <div class="my-list-modal-header">

            <!-- my list icon and text -->
            <img src="http://i.imgur.com/Faek38M.png" alt="" />
            <p id="my-list-modal-header-text">My List</p>

            <!-- close button -->
            <div class="close-modal-button">
              <div class="line1"></div>
              <div class="line2"></div>
            </div>

          </div>

          <!-- begin main content -->

          <div class="my-list-modal-content">

            <h2>View Saved Products</h2>

            <!-- begin mylist items -->

            <ul class="flex-container-mylist">
              <li class="flex-item-mylist">
                <img src="" alt="" />
                <p>Model Number</p>
                <h4>Model Name</h4>
              </li>
              <li class="flex-item-mylist">
                <img src="" alt="" />
                <p>Model Number</p>
                <h4>Model Name</h4>
              </li>
              <li class="flex-item-mylist">
                <img src="" alt="" />
                <p>Model Number</p>
                <h4>Model Name</h4>
              </li>
              <li class="flex-item-mylist">
                <img src="" alt="" />
                <p>Model Number</p>
                <h4>Model Name</h4>
              </li>
              <li class="flex-item-mylist">
                <img src="" alt="" />
                <p>Model Number</p>
                <h4>Model Name</h4>
              </li>
            </ul>

            <!-- end mylist items -->

          </div>

          <!-- begin slider -->

          <div class="share-mylist">

            <h2 class="keyboard-slider">Share your List</h2>

            <div class="slider-div">

              <div class="row padding-div">

                <div class="col-3">

                  <div class="padding-div">

                    <h3 id="send-and-share">Send & Share</h3>
                    <h2 id="send-mylist">My List</h2>

                    <p id="send-text">Separate with a comma to add more recipients to your send list.</p>

                  </div>

                </div>

                <div class="col-6">

                  <div class="padding-div">

                    <div class="keyboard-bg">

                      <!-- begin keyboard and text area -->

                      <div id="container">

                        <!-- text area -->
                        <textarea id="write" rows="1"></textarea>

                        <!-- begin keyboard -->

                        <div class="keyboard-area">

                          <!-- first row -->
                          <ul class="flex-container-keyboard" id="keyboard">
                            <li class="symbol"><span class="off">q</span><span class="on">1</span></li>
                            <li class="symbol"><span class="off">w</span><span class="on">2</span></li>
                            <li class="symbol"><span class="off">e</span><span class="on">3</span></li>
                            <li class="symbol"><span class="off">r</span><span class="on">4</span></li>
                            <li class="symbol"><span class="off">t</span><span class="on">5</span></li>
                            <li class="symbol"><span class="off">y</span><span class="on">6</span></li>
                            <li class="symbol"><span class="off">u</span><span class="on">7</span></li>
                            <li class="symbol"><span class="off">i</span><span class="on">8</span></li>
                            <li class="symbol"><span class="off">o</span><span class="on">9</span></li>
                            <li class="symbol"><span class="off">p</span><span class="on">0</span></li>
                            <li class="delete special-bg" id="backspace"></li>
                          </ul>

                          <!-- second row -->
                          <ul class="flex-container-keyboard" id="keyboard">
                            <li class="symbol"><span class="off">a</span><span class="on">!</span></li>
                            <li class="symbol"><span class="off">s</span><span class="on">@</span></li>
                            <li class="symbol"><span class="off">d</span><span class="on">#</span></li>
                            <li class="symbol"><span class="off">f</span><span class="on">$</span></li>
                            <li class="symbol"><span class="off">g</span><span class="on">%</span></li>
                            <li class="symbol"><span class="off">h</span><span class="on">^</span></li>
                            <li class="symbol"><span class="off">j</span><span class="on">&</span></li>
                            <li class="symbol"><span class="off">k</span><span class="on">*</span></li>
                            <li class="symbol"><span class="off">l</span><span class="on">(</span></li>
                            <li class="symbol"><span class="off">/</span><span class="on">)</span></li>
                          </ul>

                          <!-- third row -->
                          <ul class="flex-container-keyboard" id="keyboard">
                            <li class="symbol"><span class="off">*</span><span class="on">-</span></li>
                            <li class="symbol"><span class="off">z</span><span class="on">_</span></li>
                            <li class="symbol"><span class="off">x</span><span class="on">+</span></li>
                            <li class="symbol"><span class="off">c</span><span class="on">=</span></li>
                            <li class="symbol"><span class="off">v</span><span class="on">:</span></li>
                            <li class="symbol"><span class="off">b</span><span class="on">;</span></li>
                            <li class="symbol"><span class="off">n</span><span class="on">|</span></li>
                            <li class="symbol"><span class="off">m</span><span class="on">\</span></li>
                            <li class="symbol"><span class="off">*</span><span class="on">?</span></li>
                          </ul>

                          <!-- fourth row -->
                          <ul class="flex-container-keyboard" id="keyboard">
                            <li class="symbol left-shift"><span class="off">123</span><span class="on">ABC</span></li>
                            <li class="letter">.</li>
                            <li class="space">&nbsp;</li>
                            <li class="letter">@</li>
                            <li class="letter"></li>
                          </ul>

                          <br style="clear: both">

                        </div>

                        <!-- end keyboard -->

                      </div>

                      <!-- end keyboard and textarea -->

                    </div>

                  </div>

                </div>

                <div class="col-3">

                  <div class="padding-div-buttons">

                    <div class="action-buttons">

                      <div class="send-button">Send</div>
                      <div class="cancel-button">Cancel</div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <!-- end slider -->

          <!-- end main content -->

          <!-- begin footer -->

          <div class="my-list-modal-footer">
            <h3>Do you want to start over?</h3>
            <div class="clear-list-button">
              Clear My List
            </div>
          </div>

          <!-- end footer -->

        </div>

      </div>

      <!-- end modal -->

    </div>

  </body>
</html>
