/* styles the images to fill the entire div */
.slideshow-container, .slideshow-container-sm img, .fp-slideshow-container img, .slideshow-container-large-gallery img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-style: none;
}

.feature-suite img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-style: none;
}

.slideshow-container, .slideshow-container-sm, .fp-slideshow-container, .slideshow-container-large-gallery {
  position: relative;
  margin: auto;
  border-style: none;
}

/* styles slideshow container */
.slideshow-container {
  width: 100%;
  min-height: 130vh;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.6);
}

.slideshow-container-sm {
  width: 575px;
  min-height: 340px;
}

.fp-slideshow-container {
  height: 90vh;
  width: 75vw;
}

.slideshow-container-large-gallery {
  margin: 5% 0;
  height: 90vh;
  width: auto;
}

/* next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(205,205,205);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* on hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: rgb(205,205,205);
  border-radius: 50%;
  position: relative;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(0,154,191);
}

/* fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
